h1, h2 {
    text-align: center;
  }
  
  #cartContainer {
    margin-bottom: 20px;
  }
  
  #checkoutContainer {
    text-align: center;
  }
  
  button {
    padding: 10px;
  }
  
  input[type="text"], input[type="email"], select {
    width: 200px;
  }
  